<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script defer src="../facesapi"></script>
  <script defer src="/script"></script>
  <style>
    body {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    canvas {
      position: absolute;
      left: 0;
    }
    video {
      position: absolute;
      left:0;
    }
    button {
      position: absolute
     }
    img {
      position: absolute;
      right: 0
    }
  </style>
</head>
<body>
    <canvas id="context" width="640" height = "540"></canvas>
    <video id="video" width="720" height="560" autoplay muted></video>
    <button id="snap">Take photo</button> 
    <img id = "img" width="720" height="560">
</body>
</html>